<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="/static/css/admin/productlist.css">
    <title>G-OSK 프로젝트</title>
</head>

<body>
    <main class="container">
        <!-- header -->
        <header class="admin-header">
            <p class="admin-btn">G-OSK</p>
            <div class="header-bot">
                <ul>
                    <li>그레이즈 스터디카페</li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <span>운영시간: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>
        </header>
        <!-- section -->
        <section class="admin-container">
            <div class="product-category">
                <button class="reserved btn white-btn">지정석</button>
                <button class="normal btn white-btn">일반석</button>
                <button class="locker btn white-btn">사물함</button>
            </div>
            <table>
                <colgroup>
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <tr>
                    <th>카테고리</th>
                    <th>상품이름</th>
                    <th>상품가격</th>
                    <th>상품수정</th>
                    <th>상품삭제</th>
                </tr>
            </table>
            <div class="table-container">
                <table class="prouct-table">
                    <colgroup>
                        <col width="19%">
                        <col width="20%">
                        <col width="21%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                </table>
            </div>
            <button class="register-btn btn org-btn">상품 등록</button>
        </section>
        <!-- footer -->
        <footer class="admin-footer">
            <div class="main-category">
                <button class="btn black-btn product-inquiry">상 품<br>관 리</button>
                <button class="btn black-btn product-inquiry">회 원<br>관 리</button>
                <button class="btn black-btn product-inquiry">좌 석<br>관 리</button>
                <button class="btn black-btn product-inquiry">매 출<br>조 회</button>
            </div>
        </footer>
        <!-- popup -->
        <div class="plus-pop-back invisible">
            <div class="plus-popup">
                <select name="" id="" class="plus-seat">
                    <option value="일반석">일반석</option>
                    <option value="지정석">지정석</option>
                </select>
                <select name="" id="" class="plus-type">
                    <option value="원데이">원데이(H)</option>
                    <option value="시간권">시간권(H)</option>
                    <option value="기간권">기간권(W)</option>
                </select>
                <input class="plus-time" type="text" placeholder="상품이름">
                <input class="plus-price" type="text" placeholder="가격">

                <div class="popup-btns">
                    <button class="plus-register-btn btn gray-btn">등록</button>
                    <button class="btn org-btn plus-close-btn">닫기</button>
                </div>
            </div>
        </div>
        <div class="fix-pop-back invisible">
            <div class="fix-popup">
                <select name="" id="">
                    <option value="">수정상품 자리</option>
                    <option value="">일반석</option>
                    <option value="">지정석</option>
                </select>
                <select name="" id="">
                    <option value="">수정상품 시간</option>
                    <option value="">원데이</option>
                    <option value="">시간권</option>
                    <option value="">기간권</option>
                </select>
                <input class="fix-time" type="text" placeholder="수정상품 이름">
                <input class="fix-price" type="text" placeholder="수정상품 가격">

                <div class="popup-btns">
                    <button class="fix-update-btn btn gray-btn">수정</button>
                    <button class="fix-close-btn btn org-btn">닫기</button>
                </div>
            </div>
        </div>
    </main>
    <script src="/static/js/admin/productlist.js"></script>
    <script src="/static/js/admin/admin.js"></script>
</body>

</html>