<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/admin/admin.css">
<link rel="stylesheet" href="/static/css/admin/saleslist.css">
<!--datepicker-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>G-OSK 프로젝트</title>

<body>
    <main class="container">
        <!-- header -->
        <header class="admin-header">
            <p>G-OSK</p>
            <div class="header-bot">
                <ul>
                    <li>그레이즈 스터디카페</li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <span>운영시간: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>

        </header>
        <!-- section -->
        <section class="admin-container">
            <div class="sales-category">
                <div class="date-container">
                    <input id="history_start_date" name="history_start_date" class="history-date date-picker"
                        readonly="readonly" size="10" value="" type="text">
                    <input id="history_start_date_hidden" readonly="readonly" size="10" th:value="${history_start_date}"
                        type="hidden">

                    <div>~</div>
                    <input id="history_end_date" name="history_end_date" class="history-date date-picker"
                        readonly="readonly" size="10" value="" type="text">
                    <input id="history_end_date_hidden" readonly="readonly" size="10" th:value="${history_end_date}"
                        type="hidden">
                </div>
                <div class="seat-search">
                    <select id="seat-category" name="seat-category">
                        <option value="all">전체</option>
                        <option value="reserved">지정석</option>
                        <option value="normal">일반석</option>
                        <option class="order-status-hidden" style=" display: none;">
                        </option>
                    </select>
                    <button class="btn gray-btn search-btn">조회</button>
                </div>
            </div>
            <table class="sales-th-table">
                <colgroup>
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                    <col width="25%">
                </colgroup>
                <tr>
                    <th>판매 날짜</th>
                    <th>판매된 상품</th>
                    <th>판매 횟수</th>
                    <th>누적 금액</th>
                </tr>
            </table>
            <div class="table-container">
                <table class="sales-table">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tr>
                        <td>2022. 12. 22</td>
                        <td>100시간 권</td>
                        <td>1 회</td>
                        <td>100000 원</td>
                    </tr>
                    <!-- <tr>
                        <td></td>
                        <td></td>
                        <td>총 매출</td>
                        <td class="total-price">총 100000 원</td>
                    </tr> -->
                </table>
            </div>
            <div class="total-price">
                <div><b>총 매출</b> 100000원</div>
            </div>
        </section>
        <!-- footer -->
        <footer class="admin-footer">
            <div class="main-category">
                <button class="btn black-btn product-inquiry">상 품<br>관 리</button>
                <button class="btn black-btn product-inquiry">회 원<br>관 리</button>
                <button class="btn black-btn product-inquiry">좌 석<br>관 리</button>
                <button class="btn black-btn product-inquiry">매 출<br>조 회</button>
            </div>
        </footer>
    </main>
    <script src="/static/js/admin/saleslist.js"></script>
    <script src="/static/js/admin/admin.js"></script>
</body>

</html>