<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/time/time.css">
    <title>G-OSK 정액권</title>
</head>

<body>
    <main class="container">
        <!-- header -->
        <header class="time-header">
            <i class="fa-solid fa-ticket"></i>
            <p>정액권 이용권 선택</p>
            <div>원하는 이용권을 선택해 하세요.</div>
        </header>
        <!-- section -->
        <section class="time-content">
            <ul>
            </ul>
        </section>
        <!-- footer -->
        <footer class="time-footer">
            <p><i></i></p>
            <p>
                <i class="fa-solid fa-star"></i>
                결제와 함께 이용시간이 소진되기 시작합니다.
            </p>
            <p><i></i></p>
            <div>
                <button class="index-btn btn gray-btn">
                    <i class="fa-solid fa-xmark"></i>
                    홈으로
                </button>
            </div>

        </footer>
    </main>
    <script src="/static/js/time/time_commuter.js"></script>
</body>

</html>