/* locker-management-header *//* locker-management-header */
.locker-management-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; height: 400px;
    padding: 80px 80px 0px 80px;
    text-align: center;
    border-bottom: 2px solid black;
}

/* 아이콘 */
.locker-management-header > i {
   font-size: 80px;
   color: #62c1a9;
}

/* 부제 */
.locker-management-header> p {
    font-size: 50px;
    color: #62c1a9;
}

/* 설명 */
.locker-management-header > div {
    font-weight: 300;
}

.locker-management-header > .circle {
    display: flex;
    padding: 20px 0px;
}

.locker-management-header > .circle > .onbtn > i{
    font-size: 38px;
    color : #fb6624;
}

.locker-management-header > .circle > .offbtn > i{
    font-size: 38px;
}

.locker-management-header > .circle{
    color: white;
}

/* locker-management-content *//* locker-management-content */
.locker-management-content{
    width: 100%; height: 1000px;
    padding: 80px;
}

.locker-management-content > div{
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
}

.locker-management-content > div > .AL, .BL{
    width: 600px;
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    position: absolute;
    left: 20px;
}

.locker-management-content > div > .CL{
    width: 100px;
    display: flex;
    margin-left: 40px;
    flex-wrap: wrap;
    position: absolute;
    top: 80px;
    right: 60px;
}

.locker-management-content > div > .AL{
    top: 100px;
}

.locker-management-content > div > .BL{
    bottom: 80px;
}

.locker-management-content > div > div > button{
    font-size: 25px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border: 3px solid black;
}

/* locker-management-footer *//* locker-management-footer */
.locker-management-footer{
    width: 100%; height: 520px;
    padding: 0px 80px 80px 80px;
    text-align: center;
}

.locker-management-footer > div{
    font-size: 50px;
}

.locker-management-footer > div > input{
    background-color: black;
    width: 230px;
    height: 100px;
    border-radius: 20px;
    color: #fb6624;
    font-size: 50px;
    text-align: center;
}

.locker-management-footer > div > button{
    width: 400px;
    height: 100px;
}