<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">
<link rel="stylesheet" href="/static/css/adminpage/admin.css">
<link rel="stylesheet" href="/static/css/adminpage/seat-manage.css">
<title>G-OSK 프로젝트</title>

<body>
    <main class="container">
        <!-- header -->
        <header class="admin-header">
            <p>G-OSK</p>
            <div class="header-bot">
                <ul>
                    <li>그레이즈 스터디카페</li>
                    <li>
                        <i class="fa-solid fa-user"></i>
                        <span>운영시간: 10:00 - 20:00</span>
                    </li>
                </ul>
            </div>
        </header>
        <!-- section -->
        <section class="admin-container">
            <div class="seat-category">
                <ul>
                    <li class="reserved">지정석</li>
                    <li class="nomal">일반석</li>
                </ul>
            </div>
            <div class="table-container">
                <!-- section -->
                <section class="seat-content">
                    <article class="seat-basic">
                        <button class="btn seat-btn org-btn">Os1</button>
                        <button class="btn seat-btn">Os2</button>
                        <button class="btn seat-btn">Os3</button>
                        <button class="btn seat-btn org-btn">Os4</button>
                        <button class="btn seat-btn">Os5</button>
                        <button class="btn seat-btn org-btn">Os6</button>
                        <button class="btn seat-btn">Os7</button>
                        <button class="btn seat-btn">Os8</button>
                        <button class="btn seat-btn">Os9</button>
                        <button class="btn seat-btn">Os10</button>
                        <button class="btn seat-btn">Os11</button>
                        <button class="btn seat-btn">Os12</button>
                        <button class="btn seat-btn">Os13</button>
                        <button class="btn seat-btn org-btn">Os14</button>
                        <button class="btn seat-btn">Os15</button>
                        <button class="btn seat-btn">Os16</button>
                        <button class="btn seat-btn">Os17</button>
                        <button class="btn seat-btn">Os18</button>
                        <button class="btn seat-btn">Os19</button>
                        <button class="btn seat-btn">Os20</button>
                    </article>
                    <article class="seat-special invisible">
                        <button class="btn seat-btn">Os1</button>
                        <button class="btn seat-btn">Os2</button>
                        <button class="btn seat-btn">Os3</button>
                        <button class="btn seat-btn">Os4</button>
                        <button class="btn seat-btn">Os5</button>
                        <button class="btn seat-btn">Os6</button>
                        <button class="btn seat-btn">Os7</button>
                        <button class="btn seat-btn">Os8</button>
                        <button class="btn seat-btn">Os9</button>
                        <button class="btn seat-btn">Os10</button>
                        <button class="btn seat-btn">Os11</button>
                        <button class="btn seat-btn">Os12</button>
                        <button class="btn seat-btn">Os13</button>
                        <button class="btn seat-btn">Os14</button>
                        <button class="btn seat-btn">Os15</button>
                        <button class="btn seat-btn">Os16</button>
                        <button class="btn seat-btn">Os17</button>
                        <button class="btn seat-btn">Os18</button>
                        <button class="btn seat-btn">Os19</button>
                        <button class="btn seat-btn">Os20</button>
                    </article>
                </section>
                <!-- footer -->
            </div>
            <div class="btn-all">
                <button class="btn gray-btn repair-btn">유지보수</button>
                <button class="btn org-btn exit-btn">강제퇴장</button>
            </div>
        </section>
        <!-- footer -->
        <footer class="admin-footer">
            <div class="main-category">
                <button class="btn black-btn product-inquiry">상 품<br>관 리</button>
                <button class="btn black-btn product-inquiry">회 원<br>관 리</button>
                <button class="btn black-btn product-inquiry">좌 석<br>관 리</button>
                <button class="btn black-btn product-inquiry">매 출<br>조 회</button>
            </div>
        </footer>
    </main>
    <script src="/static/js/adminpage/admin.js"></script>
    <script src="/static/js/adminpage/seat-manage.js"></script>
</body>

</html>