/* login-header *//* login-header */
/* login-header *//* login-header */
.login-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    padding: 80px;
    text-align: center;
    border-bottom: 2px solid black;
}

/* 아이콘 */
.login-header>i {
    font-size: 80px;
    color: #62c1a9;
}

/* 부제 */
.login-header>p {
    font-size: 50px;
    color: #62c1a9;
}

/* 설명 */
.login-header>div {
    font-weight: 300;
}

/* login-content *//* login-content */
/* login-content *//* login-content */
.login-content {
    width: 100%;
    height: 400px;
    padding: 80px;
}

.login-content>ul {
    width: 80%;
    margin: 0 auto;
}

.login-content>ul li {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.login-content>ul span {
    width: 30%;
    line-height: 90px;
}

.login-content>ul input {
    width: 50%; height: 90px;
    margin-left: -150px;
}


/* login-keybord *//* login-keybord */
/* login-keybord *//* login-keybord */
.login-keybord {
    display: flex;
    margin: 0 auto;
    width: 650px;
    height: 700px;
    flex-wrap: wrap;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 50px #000;
    margin-bottom: 100px;
}

.login-keybord>button {
    height: 25%;
    width: 33.3%;
    border: 1px solid black;
    border-radius: 0px;
    font-size: 60px;
}

.login-keybord>button>i {
    font-size: 60px;
}


/* login-footer *//* login-footer */
/* login-footer *//* login-footer */
.login-footer {
    width: 100%;
    height: 320px;
    padding: 0px 80px 80px 80px;
    text-align: center;
}

.login-footer button {
    width: 300px;
    height: 100px;
    margin: 0px 10px;
}

.login-footer button i {
    padding-right: 10px;
}