/* pay-header *//* pay-header *//* pay-header *//* pay-header */
.pay-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; height: 400px;
    padding: 80px;
    text-align: center;
    border-bottom: 2px solid black;
}

/* 아이콘 */
.pay-header > i {
   font-size: 80px;
   color: #62c1a9;
}

/* 부제 */
.pay-header > p {
    font-size: 50px;
    color: #62c1a9;
}
 
/* 설명 */
.pay-header > div {
    font-weight: 300;
}

/* pay-content *//* pay-content *//* pay-content *//* pay-content */
.pay-content{
    width: 100%; height: 1000px;
    padding: 80px;
    /* border-bottom: 2px solid black; */
}

/* pay-footer *//* pay-footer *//* pay-footer *//* pay-footer */
.pay-footer{
    width: 100%; height: 520px;
    padding: 0px 80px 80px 80px;
}
