
*{
    margin: 0px;
    padding: 0px;
}

div{
    width: 500px; height: 500px;
    position: relative;
    /* overflow: hidden; */
}

ul{
    border: 5px solid black;
    width: 1000px; height: 500px;
    position: absolute;
    top: 0px; left: -500px;
    display: flex;
}

ul > li{    
    width: 500px; height: 500px;
}

ul>li:nth-child(1){
    background-color: skyblue;
}

ul>li:nth-child(2){
    background-color: orange;
}

button{
    margin: 10px;
}

.sky-btn{
    position: relative;
}

article{
    width: 100px; height: 100px;
    background-color: blue;
    position: absolute;
    bottom: 0px; right: 0px;
}