/* time-header */
.time-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    padding: 80px;
    text-align: center;
    border-bottom: 2px solid black;
}

/* 아이콘 */
.time-header>i {
    font-size: 80px;
    color: #62c1a9;
}

/* 부제 */
.time-header>p {
    font-size: 50px;
    color: #62c1a9;
}

/* 설명 */
.time-header>div {
    font-weight: 300;
}

/* time-content */
.time-content {
    width: 100%;
    height: 1000px;
    padding: 50px 80px 80px 80px;
    text-align: center;
    /* border-bottom: 2px solid black; */
}

.time-content ul li {
    width: 800px;
    height: 140px;
    margin: 40px auto;

    background-color: white;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 45px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid black;
}

.time-content ul li p {
    width: 500px;
    /* margin: auto 0; */
    line-height: 138.4px;
    border-right: 7.5px dotted #3a3a3a;
}

.time-content ul li div {
    color: #fb6624;
    width: 300px;
    margin: auto 0;

}

.time-content .junho button {
    border: none;
    background-color: #3a3a3a;
}

.time-content .junho i {
    margin: 0 30px 0 30px;
    color: #fb6624;
    font-size: 50px;
}
.time-content {
    overflow:auto; 
}
.time-content::-webkit-scrollbar {
    width: 20px;  /* 스크롤바의 너비 */
}

.time-content::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #62c1a9; /* 스크롤바의 색상 */
    border-radius: 10px;
}

/* time-footer */
.time-footer {
    width: 100%;
    height: 520px;
    padding: 65px 80px 80px 80px;

}

.time-footer p {
    font-size: 30px;
    padding-left: 40px;
}

.time-footer div {
    margin: 50px auto;
    width: 300px;

}

.time-footer button {
    height: 100px;
}