<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/account_login.css">
<title>G-OSK 프로젝트</title>
<body>
    <main class="container">
<!-- header -->
        <header class="account-login-header">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p>휴대폰인증</p>
            <div>휴대폰 번호를 입력하세요.</div>
        </header>
<!-- section -->
        <section class="account-login-content">
            <div class="phone-input">
                <input type="text" id="phone">
                <button>로그인</button>
            </div>

            <br>

            <div class="phone-key">
                <button class ="btn white-btn" onclick="keybtn(1)">1</button>
                <button class ="btn white-btn" onclick="keybtn(2)">2</button>
                <button class ="btn white-btn" onclick="keybtn(3)">3</button>
                <button class ="btn white-btn" onclick="keybtn(4)">4</button>
                <button class ="btn white-btn" onclick="keybtn(5)">5</button>
                <button class ="btn white-btn" onclick="keybtn(6)">6</button>
                <button class ="btn white-btn" onclick="keybtn(7)">7</button>
                <button class ="btn white-btn" onclick="keybtn(8)">8</button>
                <button class ="btn white-btn" onclick="keybtn(9)">9</button>
                <button class ="btn white-btn" onclick="keybtn('CLR')">CLR</button>
                <button class ="btn white-btn" onclick="keybtn(0)">0</button>
                <button class ="btn white-btn" onclick="keybtn('DEL')">
                    <i class="fa-solid fa-delete-left"></i>
                </button>
            </div>
        </section>
<!-- footer -->
        <footer class="account-login-footer">
            <button>
                <i class="fa-solid fa-house-chimney"> 홈으로</i>
            </button>
        </footer>
    </main>
    <script src="/static/js/account_login.js"></script>
</body>
</html>