<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/check_inout.css">
<title>G-OSK 입실/퇴실</title>
<body>
    <main class="container">
<!-- header -->
        <header class="inout-header">
            <i class="fa-solid fa-check"></i> 
            <p>입실처리 완료</p>
            <div>회원님, 처리가 입실처리가 완료되었습니다.</div>
        </header>
<!-- section -->
        <section class="inout-content">
            <ul>
                <li>
                    <p><i class="fa-regular fa-clock"></i>입실(현재)시간</p>
                    <span>12:54</span>
                </li>
                <li>
                    <p><i class="fa-solid fa-hourglass-half"></i>총 좌석</p>
                    <span>00:00:00</span>
                </li>
                <li class="close">
                    <p><i class="fa-regular fa-calendar-xmark"></i>종료일자</p>
                    <span>2023-01-02<span>
                    <span class="close">12:30</span>
                </li>
                <li>
                    <p><i class="fa-solid fa-chair"></i>입석좌석</p>
                    <div>카페존4</div>
                </li>
            </ul>
        </section>
<!-- footer -->
        <footer class="inout-footer">
            <button>
                <i class="fa-solid fa-house-chimney"> 홈으로</i>
            </button>
        </footer>
    </main>
    <script src="/static/js/pay.js"></script>
</body>
</html>