<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<head>
    <link rel="stylesheet" href="/static/css/inout.css">
    <title>G-OSK 입실/퇴실</title>
</head>
<body>
    <main class="container">
<!-- header -->
        <header class="inout-header">
            <i class="fa-solid fa-check"></i> 
            <p>입실처리 완료</p>
            <div>회원님, 처리가 입실처리가 완료되었습니다.</div>
        </header>
<!-- section -->
        <section class="inout-content">
            <ul class="in-info">

            </ul>
        </section>
<!-- footer -->
        <footer class="inout-footer">
            <button class="index-btn">
                <i class="fa-solid fa-house-chimney"> 홈으로</i>
            </button>
        </footer>
    </main>
    <script src="/static/js/inout.js"></script>
</body>
</html>