<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/index.css">
<title>G-OSK 프로젝트</title>
<body>
    <main class="container">
<!-- header -->
        <header class="main-header">
            <p>G-OSK</p>
            <ul>
                <li>그레이즈 스터디카페</li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <span>운영시간: 10:00 - 20:00</span>
                </li>
            </ul>
            <div>
                <img src="../static/images/main/main-banner.JPG" alt="main-banner">
            </div>
        </header>
<!-- section -->
        <section class="main-content">
            <p>2021년 07월 19일(월) 15:00:25</p>
            <article>
                <button class="join-btn btn black-btn">회원가입</button>
                <button class="myinfo-btn btn black-btn">내 정보</button>
                <button class="myreserve-btn btn black-btn">내 예약</button>
            </article>
            <div class="func-btns">
                <button class="btn white-btn">
                    원데이
                </button>
                <button class="btn white-btn">
                    정액권
                </button>
                <button class="btn white-btn">
                    지정석
                </button>
                <button class="btn sky-btn">
                    <i class="fa-solid fa-briefcase"></i>
                    <p>사물함</p>
                </button>
                <button class="btn sky-btn">
                    <i class="fa-solid fa-right-left"></i>
                    <p>자리이동</p>
                </button>
                <button class="btn org-btn">
                    <i class="fa-solid fa-shoe-prints fa-rotate-270"></i>
                    <p>입실/퇴실</p>
                </button>
            </div>
        </section>
<!-- footer -->
        <footer class="main-footer">
           COPYRIGHT (c) GRAZE, ALL RIGHTS RESERVED
        </footer>
    </main>
    <script src="/static/js/index.js"></script>
</body>
</html>