<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/time_oneday_reserved_locker.css">
<title>G-OSK 사물함 결제</title>
<body>
    <main class="container">
<!-- header -->
        <header class="oneday-header">
            <i class="fa-solid fa-ticket"></i>
            <p>사물함 이용권 선택</p>
            <div>원하는 이용권을 선택해 하세요.</div>
        </header>
<!-- section -->
        <section class="oneday-content">
            <ul>
                <li>
                    <p>
                        <i class="fa-solid fa-ticket"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                        1주(사물함)
                    </p>
                    <div>4,000원</div>
                </li>
                <li>
                    <p>
                        <i class="fa-solid fa-ticket"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                        2주(사물함)
                    </p>
                    <div>6,000원</div>
                </li>
                <li>
                    <p>
                        <i class="fa-solid fa-ticket"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                        3주(사물함)
                    </p>
                    <div>10,000원</div>
                </li>
                <li>
                    <p>
                        <i class="fa-solid fa-ticket"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                        4주(사물함)
                    </p>
                    <div>14,000원</div>
                </li>
                <li>
                    <p>
                        <i class="fa-solid fa-ticket"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                        6주(사물함)
                    </p>
                    <div>20,000원</div>
                </li>
            </ul>
            <!-- <div class="junho">
                <button>
                    <i class="fa-solid fa-circle-chevron-left"></i>
                </button>
                <span>1</span>
                <span>/</span>
                <span>3</span>
                <button>
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </button>
            </div> -->
            
            

        </section>
<!-- footer -->
        <footer class="oneday-footer">
            <p>
                <i class="fa-solid fa-star"></i>
                구입하신 시간 내에서 자유롭게 이용할 수 있는 이용권입니다.
            </p>
            <p>
                <i class="fa-solid fa-star"></i>
                사물함은 실제 사용한 시간만큼만 실시간 차감/관리 됩니다.
            </p>
            <div>
                <button class="junho btn gray-btn">
                    <i class="fa-solid fa-xmark"></i>
                    홈으로
                </button>
            </div>
            
        </footer>
    </main>
    <script src="/static/js/pay.js"></script>
</body>
</html>