<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/main.css">
<title>G-OSK 프로젝트</title>
<body>
    <main class="container">
<!-- header -->
        <header class="main-header">
            <div>G-OSK</div>
            <ul>
                <li>그레이즈 스터디카페</li>
                <li>
                    <a href="#">아이콘</a>
                    <p>운영시간: 10:00 - 20:00</p>
                    <button class="button org-button">호출</button>
                </li>
            </ul>
        </header>
<!-- section -->
        <section class="main-container">
        </section>
<!-- footer -->
        <footer>

        </footer>
    </main>
    <script src="/static/js/main.js"></script>
</body>
</html>