<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{head :: head}"></head>
<link rel="stylesheet" href="/static/css/pay.css">
 <!-- iamport.payment.js -->
 <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>
<title>G-OSK 결제</title>
<body>
    <main class="container">
<!-- header -->
        <header class="pay-header">
            <i class="fa-solid fa-credit-card"></i>
            <p>결제</p>
            <div>안내에 따라 신용카드 결제를 진행해 주세요</div>
        </header>
<!-- section -->
        <section class="pay-content">
            <ul>
            </ul>            
            <img src="/static/images/pngwing2.com.png">
        </section>
<!-- footer -->
        <footer class="pay-footer">
            <p>다음 단계 진행을 위해 결제하기 버튼을 눌러주세요.</p>
            <div>
                <button class="index-btn btn gray-btn">
                    <i class="fa-solid fa-xmark"></i>
                    결제취소
                </button>
                <button class="pay-btn btn org-btn">
                    <i class="fa-solid fa-check"></i>
                    결제하기
                </button>
            </div>
        </footer>
    </main>
    <script src="/static/js/pay.js"></script>
</body>
</html>