<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/pay.css">
<title>G-OSK 결제</title>
<body>
    <main class="container">
<!-- header -->
        <header class="pay-header">
            <i class="fa-solid fa-credit-card"></i>
            <p>결제</p>
            <div>안내에 따라 신용카드 결제를 진행해 주세요</div>
        </header>
<!-- section -->
        <section class="pay-content">
            <ul>
                <li>
                    <div class="product1">
                        <p>원데이결제</p>
                    </div>
                    <div class="product2">
                        <p>상품명</p>
                        <span>2시간</span>
                    </div>
                    <div class="product3">
                        <p>결제할 금액</p>
                        <span>3,000원</span>
                    </div>
                </li>
            </ul>
            
            <img src="/static/images/pngwing2.com.png">
        </section>
<!-- footer -->
        <footer class="pay-footer">
            <div>
                <p>다음 단계 진행을 위해 결제하기 버튼을 눌러주세요.</p>
            </div>
        </footer>
    </main>
    <script src="/static/js/pay.js"></script>
</body>
</html>