<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/seat.css">
<title>G-OSK 프로젝트</title>

<body>
    <main class="container">
        <!-- header -->
        <header class="seat-header">
            <article class="seat-header-top">
                <p>좌석선택</p>
                <div>원하시는 좌석을 선택해 주세요.</div>
            </article>
            <article class="seat-header-bot">
                <div class="seat-view">
                    <span class="onbtn">
                        <i class="fa-solid fa-circle"></i>
                        이용중
                    </span>
                    <span class="offbtn">
                        <i class="fa-solid fa-circle"></i>
                        이용가능
                    </span>
                </div>
                <div class="seat-layer">
                    <button class="basic btn sky-btn">일반석</button>
                    <button class="special btn">지정석</button>
                </div>
            </article>
        </header>
        <!-- section -->
        <section class="seat-content">
            <article class="seat-basic">
                <button class="btn org-btn">Os1</button>
                <button class="btn">Os2</button>
                <button class="btn">Os3</button>
                <button class="btn">Os4</button>
                <button class="btn">Os5</button>
                <button class="btn org-btn">Os6</button>
                <button class="btn">Os7</button>
                <button class="btn">Os8</button>
                <button class="btn">Os9</button>
                <button class="btn">Os10</button>
                <button class="btn">Os11</button>
                <button class="btn sky-btn">Os12</button>
                <button class="btn">Os13</button>
                <button class="btn org-btn">Os14</button>
                <button class="btn">Os15</button>
                <button class="btn">Os16</button>
                <button class="btn">Os17</button>
                <button class="btn">Os18</button>
                <button class="btn">Os19</button>
                <button class="btn">Os20</button>
            </article>
            <article class="seat-special invisible">
                <button class="btn">Os1</button>
                <button class="btn">Os2</button>
                <button class="btn">Os3</button>
                <button class="btn">Os4</button>
                <button class="btn">Os5</button>
                <button class="btn">Os6</button>
                <button class="btn">Os7</button>
                <button class="btn">Os8</button>
                <button class="btn">Os9</button>
                <button class="btn">Os10</button>
                <button class="btn">Os11</button>
                <button class="btn">Os12</button>
                <button class="btn">Os13</button>
                <button class="btn">Os14</button>
                <button class="btn">Os15</button>
                <button class="btn">Os16</button>
                <button class="btn">Os17</button>
                <button class="btn">Os18</button>
                <button class="btn">Os19</button>
                <button class="btn">Os20</button>
            </article>
        </section>
        <!-- footer -->
        <footer class="seat-footer">
            <article>
                <span>선택한 좌석</span>
                <input type="input" class="seat-select-name">
            </article>
            <div>
                <button class="btn gray-btn">
                    <i class="fa-solid fa-xmark"></i>
                    홈으로
                </button>
                <button class="btn org-btn">
                    <i class="fa-solid fa-check"></i>
                    다음단계
                </button>
            </div>

        </footer>
    </main>
    <script src="/static/js/seat.js"></script>
</body>

</html>