<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/44bcb903a4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/static/css/reset.css">

<link rel="stylesheet" href="/static/css/test.css">
<title>G-OSK 프로젝트</title>
<body>
    <main class="container">
<!-- header -->
        <header class="pay-header">
            <i class="fa-solid fa-credit-card"></i>
            <p>결제</p>
            <div>안내에 따라 신용카드 결제를 진행해 주세요</div>
        </header>
<!-- section -->
        <section class="pay-content">
        </section>
<!-- footer -->
        <footer class="pay-footer">
        </footer>
    </main>
    <script src="/static/js/pay.js"></script>
</body>
</html>