<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/test2.css">
</head>

<body>
    <div>
        <ul class="box">
            <li>1</li>
            <li>2</li>
        </ul>
    </div>
    <button class="leftbtn btn sky-btn">
        2번 페이지 보기
    </button>
    <button class="rightbtn btn black-btn">1번 페이지 보기</button>

</body>
<script src="../static/js/test2.js"></script>

</html>